certifi==2021.10.8
charset-normalizer==2.0.12
cipher==0.1
collection==0.1.6
Counter==1.0.0
crypto==1.4.1
idna==3.3
Naked==0.1.31
numpy==1.22.3
pandas==1.4.2
pycryptodome==3.14.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
shellescape==3.8.1
simple-crypt==4.1.7
six==1.16.0
urllib3==1.26.9
